CH4.data
CH4.header
CO2.data
CO2.header
ERA5_wind.ipynb
*.tif
Geemap_Tutorial.ipynb
H2O.data
H2O.header
hapi.py
__MACOSX/
*.pyc
aux_data/
hapi_data/
s2_ch4_code_share/.DS_Store
s2_ch4_code_share/__pycache__/hapi.cpython-312.pyc
s2_ch4_code_share/__pycache__/radtran.cpython-312.pyc
s2_ch4_code_share/__pycache__/setup.cpython-312.pyc

.ipynb_checkpoints/
Plume_Search copy.ipynb
license.txt
markdowntest.md
radtran.py
README.txt
retrievals_parallel_workings.py
s2_ch4_code_share.zip
S2_CH4_Tester.ipynb
setup.py
untitled.py
ch4_conc_enh_batches.py
ch4_conc_enh_MBSP_batches.py
F_MBSP.py
Geemap_Tutorial.ipynb
*.csv
*.npy